:root {
    --bisque: bisque;
    --black: #000;
    --150px: 150px;
    --120px: 120px;
}

body {
    margin: 0;
    background-color: aqua;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    align-items: center;
    margin: 5% 0 0 0;
    justify-content: center;
}

.input input {
    margin: 0 15px 0 0;
    width: var(--150px);
    height: 1.3em;
    border-radius: calc(15px - 10px);
    background-color: var(--bisque);
    box-shadow: 4px 4px 3px var(--black);
}

input[type="text"]:focus {
    background-color: #9309f6;
  }

  input[type="password"]:focus {
    background-color: #f6bf09;
  }

.input input:hover {
    margin: 0 15px 0 0;
    width: 15rem;
    height: 1.3em;
    border-radius: 5px;
    background-color: red;
    box-shadow: 4px 4px 3px var(--black);
}

.input input:active {
    margin: 0 15px 0 0;
    width: var(--150px);
    height: 1.3em;
    border-radius: 5px;
    background-color: var(--black);
    box-shadow: 4px 4px 3px var(--black);
}

.button button {
    margin: 15px 15px 0 0;
    border-radius: 5px;
    width: var(--120px);
    height: 1.7em;
    background-color: coral;
    box-shadow: 4px 4px 3px var(--black);
}

.button button:hover {
    margin: 15px 15px 0 0;
    border-radius: 5px;
    width: 12vw;
    height: 1.7em;
    background-color: green;
    box-shadow: 4px 4px 3px var(--black);
}

.button button:active {
    margin: 15px 15px 0 0;
    border-radius: 5px;
    width: var(--120px);
    height: 1.7em;
    background-color: greenyellow;
    box-shadow: 4px 4px 3px var(--black);
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 20px double green;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: all;  
}

.circle:hover {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 20px double green;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transform: scale(1.5);
    background-color: #f6bf09;
    transition-timing-function: steps(10, end);
    transition-duration: 5s;
}