body {
    margin: 0;
    background-color: aqua;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    align-items: center;
    margin: 15% 0 0 0;
    justify-content: center;
}

.input input {
    margin: 0 15px 0 0;
    width: 150px;
    height: 1.3em;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 4px 4px 3px #000;
}

.button button {
    margin: 15px 15px 0 0;
    border-radius: 5px;
    width: 120px;
    height: 1.7em;
    background-color: coral;
    box-shadow: 4px 4px 3px #000;
}